In [1]:
import netCDF4 as nc
dataset = nc.Dataset('../dataset/QBO/daily_QBO/qbo_1979.nc')  # 替换为您的nc文件路径
dataset, type(dataset)

(<class 'netCDF4.Dataset'>
 root group (NETCDF4 data model, file format HDF5):
     dimensions(sizes): time(365), level(37)
     variables(dimensions): int32 time(time), float64 level(level), float32 u(time, level)
     groups: ,
 netCDF4._netCDF4.Dataset)

In [5]:
import pandas as pd
start_date = pd.to_datetime("1979/01/01", format="%Y/%m/%d")
end_date = pd.to_datetime("2010-01-01", format="%Y-%m-%d")
end_time = start_time + pd.Timedelta(days=11687)
days_difference = (end_date - start_date).days
#end_time.strftime("%Y-%m-%d")
days_difference

11323

In [2]:
from netCDF4 import Dataset

# 打开 NetCDF 文件
file_path = '../dataset/QBO/daily_QBO/qbo_1979.nc'
data = Dataset(file_path)

# 查看文件结构
print(data)  # 打印文件信息
print(data.variables.keys())  # 查看所有变量
print(data.dimensions.keys())  # 查看所有维度

# 读取变量
time = data.variables['time'][:]  # 读取温度变量
level = data.variables['level'][:]  # 读取纬度
value = data.variables['u'][:]
# 关闭文件
data.close()

<class 'netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): time(365), level(37)
    variables(dimensions): int32 time(time), float64 level(level), float32 u(time, level)
    groups:
dict_keys(['time', 'level', 'u'])
dict_keys(['time', 'level'])

In [5]:
from netCDF4 import Dataset

# 打开 NetCDF 文件
file_path = '../dataset/QBO/u.mon.mean.ERA5.nc'
data = Dataset(file_path)

# 查看文件结构
print(data)  # 打印文件信息
print(data.variables.keys())  # 查看所有变量
print(data.dimensions.keys())  # 查看所有维度

# 读取变量
time = data.variables['time'][:]  # 读取温度变量
level = data.variables['level'][:]  # 读取纬度
lat = data.variables['latitude'][:]  # 读取经度
value = data.variables['u'][:]
# 关闭文件
data.close()

<class 'netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): time(996), level(37), latitude(721)
    variables(dimensions): float32 u(time, level, latitude), int32 time(time), int32 level(level), float32 latitude(latitude)
    groups:
dict_keys(['u', 'time', 'level', 'latitude'])
dict_keys(['time', 'level', 'latitude'])

In [6]:
import numpy as np
import pandas as pd

all_dfs = []
for i in range(1979,2024):
    file_path = '../dataset/QBO/daily_QBO/qbo_{0}.nc'.format(i)
    data = Dataset(file_path)
    value = data.variables['u'][:]
    data_mean_df = pd.DataFrame(value)
    data_mean_df.columns = [f'C{v:02d}' for v in range(data_mean_df.shape[1])]            
    all_dfs.append(data_mean_df)
combined_df = pd.concat(all_dfs, axis=0, ignore_index=True)
combined_df = combined_df.reset_index()  
combined_df.to_csv('../dataset/QBO/daily_1979_2023_16436_37.csv', index=False, float_format='%.4f')
combined_df

,index,C00,C01,C02,C03,C04,C05,C06,C07,C08,...,C27,C28,C29,C30,C31,C32,C33,C34,C35,C36
0,0,-38.963131,18.836077,20.522444,7.837454,-4.137590,-22.172939,-23.522974,-5.819203,8.493823,...,-4.101101,-3.974239,-3.805902,-3.535677,-3.207182,-2.930292,-2.747374,-2.577816,-2.327308,-2.049381
1,1,-38.887573,20.062006,19.066635,8.272373,-3.149601,-23.211678,-23.560040,-5.910799,8.604295,...,-4.239403,-4.027112,-3.758105,-3.448734,-3.128863,-2.861102,-2.640759,-2.445709,-2.186098,-1.949711
2,2,-37.651138,16.476753,20.664864,7.826339,-4.473982,-22.926104,-23.703392,-5.893017,8.421505,...,-4.017190,-3.796375,-3.496458,-3.167528,-2.861750,-2.617504,-2.424295,-2.272481,-2.052909,-1.824974
3,3,-38.430843,16.715559,18.042330,7.870890,-4.376204,-22.788282,-23.938660,-5.905856,8.461960,...,-3.783291,-3.587073,-3.323019,-3.066203,-2.852141,-2.662981,-2.491471,-2.302490,-2.054408,-1.818298
4,4,-39.072639,14.551754,19.304409,7.488032,-6.109694,-23.802038,-23.897491,-5.437443,9.085694,...,-3.356641,-3.188499,-2.988975,-2.771708,-2.547243,-2.336226,-2.177849,-2.044322,-1.875870,-1.683492
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16431,16431,-27.973879,-2.348408,-11.150390,-4.945115,2.710597,-0.919085,-32.617428,-27.542645,-12.679660,...,-2.859515,-2.764968,-2.670197,-2.555864,-2.424345,-2.294283,-2.182638,-2.124220,-2.023000,-1.865702
16432,16432,-30.230669,-2.829500,-11.520326,-6.375868,3.103552,-1.080643,-32.692360,-27.429499,-12.504786,...,-3.020887,-2.902376,-2.789506,-2.672088,-2.530498,-2.374038,-2.253471,-2.183882,-2.074227,-1.906462
16433,16433,-31.484154,-3.111979,-12.318372,-6.383423,2.898315,-1.772153,-32.698757,-27.283873,-12.490048,...,-2.945973,-2.829818,-2.742917,-2.677155,-2.601887,-2.491153,-2.375632,-2.259327,-2.109967,-1.971804
16434,16434,-35.005070,-3.032219,-13.656472,-7.415117,2.640263,-1.039768,-32.206882,-27.286009,-12.364523,...,-3.003469,-2.918747,-2.843326,-2.775118,-2.692799,-2.571514,-2.438164,-2.366676,-2.273365,-2.123885
16435,16435,-37.557713,-5.420377,-14.945902,-6.349358,1.817903,-1.852379,-32.295998,-27.142847,-12.681591,...,-3.188600,-3.134317,-3.067049,-2.998925,-2.914377,-2.770657,-2.628902,-2.540018,-2.442667,-2.276194

In [37]:
import numpy as np
import pandas as pd
data_mean = np.mean(value[:,:,320:-320], axis=2)
data_mean_arr = np.array(data_mean)
data_mean_arr = data_mean_arr.T
#data_final = data_mean_arr[::-1,:]
data_mean_df = pd.DataFrame(data_mean_arr.T)
data_mean_df.columns = [f'C{v:02d}' for v in range(data_mean_df.shape[1])]
data_mean_df = data_mean_df.reset_index()              
data_mean_df

,index,C00,C01,C02,C03,C04,C05,C06,C07,C08,...,C27,C28,C29,C30,C31,C32,C33,C34,C35,C36
0,0,-57.619423,-21.635786,-1.402625,7.977250,-0.955713,-18.705347,-20.810345,-6.646878,2.069571,...,-2.437277,-2.578424,-2.724871,-2.879996,-3.029237,-3.124190,-3.130552,-3.032753,-2.828211,-2.612275
1,1,-15.274772,-16.861486,6.161314,12.469273,6.306921,-12.222104,-23.029852,-9.798491,0.136163,...,-2.996153,-3.125412,-3.252446,-3.379009,-3.487719,-3.544180,-3.519064,-3.375929,-3.117603,-2.858084
2,2,-9.319290,-4.430844,12.960602,17.862741,13.020308,1.311644,-24.289440,-12.312452,-0.813991,...,-1.907699,-2.030693,-2.152369,-2.274087,-2.388928,-2.474919,-2.507205,-2.429497,-2.256427,-2.077119
3,3,-19.662249,4.016117,20.662649,23.293522,18.950884,11.613250,-18.810730,-15.319258,-3.088508,...,-3.295357,-3.256999,-3.206154,-3.155979,-3.102445,-3.030500,-2.932975,-2.788105,-2.595890,-2.400625
4,4,-31.348177,0.112581,22.221941,24.875513,20.835808,15.808082,-1.610736,-16.660166,-8.912021,...,-3.345974,-3.271880,-3.206715,-3.154475,-3.105748,-3.053279,-2.984507,-2.868781,-2.690677,-2.489667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,991,-17.423695,5.440149,3.841013,-9.955066,-11.732445,2.021585,10.005467,6.837671,-13.793207,...,-2.991868,-2.945157,-2.887701,-2.834163,-2.792697,-2.768718,-2.743205,-2.705480,-2.592882,-2.426895
992,992,-7.596379,3.537161,-3.471614,-16.736317,-6.706057,6.219489,10.878005,9.772945,-1.523824,...,-2.758343,-2.637071,-2.543210,-2.478137,-2.440865,-2.428835,-2.418036,-2.405084,-2.304337,-2.139642
993,993,4.338645,2.434447,-7.742902,-16.996468,-1.813732,8.105230,11.788876,10.871818,5.605595,...,-3.297143,-3.188936,-3.048948,-2.890582,-2.758489,-2.668972,-2.577384,-2.500458,-2.390532,-2.235438
994,994,6.188721,-8.837424,-16.785942,-19.284227,-3.497013,7.316413,11.074703,11.091804,8.529018,...,-3.061954,-3.066782,-3.017705,-2.917188,-2.803008,-2.714410,-2.622154,-2.524884,-2.394276,-2.242075
995,995,-21.536726,-30.072540,-31.329794,-28.041573,-12.889627,1.354400,8.177507,10.343613,8.805350,...,-3.499448,-3.527365,-3.502213,-3.447208,-3.378054,-3.293119,-3.165779,-3.005488,-2.801933,-2.576285

In [38]:
data_mean_df.to_csv('../dataset/QBO/data_mean_996_37.csv', index=False, float_format='%.4f')

# data patch

In [49]:
import netCDF4 as nc
dataset = nc.Dataset('../dataset/QBO/u.mon.mean.ERA5.nc')
# 打开 NetCDF 文件
file_path = '../dataset/QBO/u.mon.mean.ERA5.nc'
data = Dataset(file_path)

# 查看文件结构
print(data)  # 打印文件信息
print(data.variables.keys())  # 查看所有变量
print(data.dimensions.keys())  # 查看所有维度

# 读取变量
time = data.variables['time'][:]  # 读取温度变量
level = data.variables['level'][:]  # 读取纬度
lat = data.variables['latitude'][:]  # 读取经度
value = data.variables['u'][:]
# 关闭文件
data.close()

data_try = np.array(value[:,:,320:-320])
data_try.shape

<class 'netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): time(996), level(37), latitude(721)
    variables(dimensions): float32 u(time, level, latitude), int32 time(time), int32 level(level), float32 latitude(latitude)
    groups:
dict_keys(['u', 'time', 'level', 'latitude'])
dict_keys(['time', 'level', 'latitude'])

(996, 37, 81)

In [54]:
import numpy as np

# 假设 value 的形状是 (A, B, D)
A, B, D = data_try.shape
# 定义块的大小
length = 6  # 第一个维度的块大小
width = 3   # 第二个维度的块大小

# 计算块的数量
num_blocks_row = A // length
num_blocks_col = B // width

# 创建列表存储序列
sequences = []

for i in range(num_blocks_row):
    for j in range(num_blocks_col):
        # 取出当前块
        block = data_try[i*length:(i+1)*length, j*width:(j+1)*width, :]
        # 将块 reshape 成一维序列
        sequence = block.reshape(-1, 81)  # D - 640 是第三个维度的大小
        # 将序列添加到列表中
        sequences.append(sequence)

# 如果需要将所有序列合并成一个数组
data_patched = np.concatenate(sequences, axis=0)
data_patched.shape

(35856, 81)

In [55]:
data_mean_df = pd.DataFrame(data_patched)
data_mean_df.columns = [f'C{v:02d}' for v in range(data_mean_df.shape[1])]
data_mean_df = data_mean_df.reset_index()              
data_mean_df

,index,C00,C01,C02,C03,C04,C05,C06,C07,C08,...,C71,C72,C73,C74,C75,C76,C77,C78,C79,C80
0,0,-75.150345,-74.959007,-74.756584,-74.542664,-74.316170,-74.076653,-73.823608,-73.556984,-73.276802,...,-40.739449,-40.146687,-39.552433,-38.956898,-38.359974,-37.761627,-37.161949,-36.560707,-35.957928,-35.353519
1,1,-49.463947,-48.904091,-48.327583,-47.734684,-47.125904,-46.501434,-45.862000,-45.208195,-44.540802,...,-2.001021,-1.646666,-1.308582,-0.987185,-0.683042,-0.396863,-0.128946,0.120086,0.349851,0.559899
2,2,-30.749247,-30.056559,-29.356064,-28.648327,-27.933693,-27.212255,-26.484346,-25.750383,-25.010513,...,17.690248,17.869350,18.029884,18.172094,18.296164,18.402130,18.490196,18.560263,18.612041,18.645494
3,3,-16.432407,-16.275803,-16.136633,-16.014500,-15.908969,-15.819469,-15.745213,-15.685269,-15.638496,...,-13.283386,-13.111271,-12.936072,-12.758080,-12.577521,-12.394365,-12.208623,-12.020278,-11.829374,-11.636351
4,4,-31.809326,-31.598589,-31.374079,-31.135014,-30.881376,-30.612745,-30.329660,-30.031864,-29.719479,...,-7.122468,-7.069834,-7.025257,-6.987644,-6.955996,-6.929505,-6.906569,-6.886397,-6.868111,-6.850907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35851,35851,-3.745327,-3.712519,-3.672916,-3.626619,-3.574725,-3.527928,-3.480990,-3.424044,-3.367190,...,-2.592396,-2.750641,-2.938331,-3.150233,-3.356305,-3.556220,-3.764979,-3.972968,-4.164490,-4.348103
35852,35852,-3.621221,-3.588610,-3.545847,-3.496432,-3.452023,-3.412896,-3.368453,-3.315112,-3.263143,...,-2.384336,-2.527599,-2.698152,-2.887657,-3.063100,-3.233206,-3.417513,-3.601402,-3.773984,-3.939718
35853,35853,-2.536341,-2.477923,-2.411344,-2.349276,-2.300447,-2.264402,-2.228704,-2.188778,-2.154137,...,-5.276399,-5.426352,-5.571342,-5.718108,-5.863243,-6.002483,-6.144319,-6.284419,-6.402625,-6.516524
35854,35854,-2.679173,-2.623561,-2.559687,-2.495805,-2.446329,-2.415385,-2.383052,-2.335160,-2.286512,...,-4.854150,-4.999007,-5.139651,-5.279959,-5.411827,-5.538707,-5.668004,-5.797666,-5.909506,-6.011194
35855,35855,-2.699706,-2.643225,-2.577501,-2.510429,-2.465870,-2.441873,-2.408764,-2.353212,-2.299212,...,-4.456735,-4.581143,-4.694790,-4.807971,-4.906403,-5.004523,-5.118099,-5.231049,-5.326532,-5.413092

In [56]:
data_mean_df.to_csv('../dataset/QBO/data_mean_6_3_81.csv', index=False, float_format='%.4f')